<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <title>List</title>
</head>
<body>
<form method="post" action="/add">
    Title:
    <label>
        <input type="text" name="title">
        <!--<button type="submit" class="btn btn-default navbar-btn" value="Add Task" formmethod=post name="addtask"></button>-->
        <button type="submit" class="btn btn-default" formmethod="post">Add Task</button>


    </label><br>

</form>
<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>